@page
@model ConsoleLogGames.App.Presentacion.Pages.Registrar.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vendedor.Cargo" class="control-label"></label>
                <input asp-for="Vendedor.Cargo" class="form-control" />
                <span asp-validation-for="Vendedor.Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Nombre" class="control-label"></label>
                <input asp-for="Vendedor.Nombre" class="form-control" />
                <span asp-validation-for="Vendedor.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Apellido" class="control-label"></label>
                <input asp-for="Vendedor.Apellido" class="form-control" />
                <span asp-validation-for="Vendedor.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Cedula" class="control-label"></label>
                <input asp-for="Vendedor.Cedula" class="form-control" />
                <span asp-validation-for="Vendedor.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Sucursal" class="control-label"></label>
                <input asp-for="Vendedor.Sucursal" class="form-control" />
                <span asp-validation-for="Vendedor.Sucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Usuario" class="control-label"></label>
                <input asp-for="Vendedor.Usuario" class="form-control" />
                <span asp-validation-for="Vendedor.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Password" class="control-label"></label>
                <input asp-for="Vendedor.Password" class="form-control" />
                <span asp-validation-for="Vendedor.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
