@page
@* @model ExitoLogGames.App.Presentacion.Pages.LogGames.Index *@

@{


    ViewData["Estilo"]="/css/login.css";
    ViewData["Title"] = "Sing up";
}

<div class="container">
    <div class="formulario">
        <a href="./forget-password.html">¿Olvidó su contraseña?</a>
        <div>
            <form name="login" action="">
                <input type="text" placeholder="Usuario">
                <input type="text" placeholder="Contraseña">
                <label for="login">*Digite su nombre de usuario</label>

            </form>
            <button type="submit" value="" for="login">
                <div class="btn-svg">
                    <span></span>
                    <span></span>
                    <span></span>
                    <input type="submit" for="login">
                </div>
            </button>
        </div>
        <p class="name">Nombre De Usuario</p>
        <img src="~/img/user.svg" alt="">
        <div class="menu">
            <a href="/LogGames/AdminCompras">
                <p class="txt_action active">Iniciar Sesión</p>
            </a>
            <a href="/LogGames/Singup">
                @ViewData["Tipo"]
                <p class="txt_action">Registrarse</p>
            </a>
        </div>
    </div>
</div>