@page
@model ForgetPasswordModel

@{
    ViewData["Estilo"] = "/css/forget-password.css";
    ViewData["EstiloA"] = "/css/login.css";
    ViewData["EstiloB"] = "/css/singup.css";
    ViewData["EstiloC"] = "/css/first-login.css";
    ViewData["Title"] = "PrimerIngreso";
}

    <div class="container">
        <div class="formulario">
            <div class="f_div">
                <form id="changepass" method="POST">
                    <input asp-for="Empleado.Usuario" type="email" required placeholder="Correo electronico">
                    <label for="changepass">*Digite su nombre de usuario</label>
                </form>
                <button type="submit" value="" form="changepass">
                    <input type="submit" form="changepass">
                    <div class="btn-svg-singup">
                    </div>
                </button>
            </div>
            <div class="warning">
                <img src="~/img/warning.svg" alt="">
                <p class="tit"><b>Olvidó su contraseña</b></p>
                <p class="tit_txt">Ingrese su <b>correo electronico</b> con el que se registró para recuperar su contraseña.</p>
            </div>
            <div class="menu">
                <a href="./first-login.html"><p class="txt_action active">¡Cambia tu contraseña!</p></a>
            </div>
        </div>
    </div>

@section Scripts{
    <partial name = "_ValidationScriptsPartial"/>
    <script>
        document.getElementById("OnClick_").onclick=()=>{
            if(document.getElementById("psw").value===document.getElementById("psw2").value){
            @* document.getElementById("enviar").click(); *@
            alert("Igualessssssss")
            }else{
                alert("Las contraseñas no coinciden")
            }
        }


    </script>
}