#Registro {
    font-size: 30px;
}

nav {
    width:70%;
}
nav ul {
    justify-content:center;
}

nav ul li.hidden{
    display: none;
}

nav ul li#Rol a{
    font-size: 30px;
}

nav ul li i {
    margin: 0 40px;
}

nav ul li i svg {
    width: 45px;
}

nav ul li:hover {
    border: none;
}

nav ul li a {
    cursor: default;
}

nav ul li:hover a, nav ul li:hover i svg .cls-1{
    color: var(--white);
    fill: var(--white);
    cursor: default;
}


/*-----------------*/

.container {
    min-height: 70vh;
    height: 70vh;
}

.container .formulario{
    width: 45%;
    height: 80%;
    overflow: hidden;
    /* background-color:var(#eee2); */
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items:center ;
    justify-content: space-around;
    padding: 0 50px;
    border-radius: 20px;
    box-shadow: 0 0 60px #999;
}

form label {
    border: none;
}

.warning{
    display:grid;
    grid-template-areas:
     "img  title title title"
     "img  txt txt txt " ;
    width: 100%;
    height: 30%;
    padding: 0 40px;
}

.warning img {
    grid-area: img;
    width: 100%;
    align-self: center;
    justify-self: end;
    margin: 0 10px 0 0;
}

.warning .tit{
    grid-area: title;
    align-self: end;
    margin: 0 10px 0 0;

}
.warning .tit_txt{
    grid-area:txt;
    margin: 0 10px 0 0;

}