header{
    z-index: 10000000;
}
nav {
    width:70%;
}
nav ul {
    justify-content:center;
}

nav ul li.hidden{
    display: none;
}

nav ul li#Rol a{
    font-size: 30px;
}

nav ul li i {
    margin: 0 40px;
}

nav ul li i svg {
    width: 45px;
}

nav ul li:hover {
    border: none;
}

nav ul li a {
    cursor: default;
}

nav ul li:hover a, nav ul li:hover i svg .cls-1{
    color: var(--white);
    fill: var(--white);
    cursor: default;
}

/*-------------------------------------------------------------------------*/
.container{
    min-height:70vh;
    height:80vh;    


}
.container .formulario{
    width: 40%;
    height: 90%;
    overflow: hidden;
    /* background-color:var(#eee2); */
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items:center ;
    justify-content: space-around;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 0 0 60px #ccc;
    margin: 20px 0;
}

.formulario .txt_action{
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.formulario .txt_action.active{
    border-bottom: 2px solid var(--morado);
}

.container .formulario img {
    height: 40%;
    border-radius: 70%;
}

.name{
    font-family: var(--f-bold);
    font-size: 20px;
}

.formulario div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.formulario div [type="submit"]{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: none;
    overflow: hidden;
    background: var(--white)
}

.container .formulario form{
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

form *{
    border-style: none;
    width: 250px;
    border-bottom: 2px solid var(--morado);
    line-height: 250%;
}

button input[type="submit"]{
    position: absolute;
    opacity:0;
    width:100%;
    height:100%;
    z-index:3000;
}

button .btn-svg {
    background-color: var(--red);
    width: 100px;
    height: 100px;
    border-radius:20px;
    position: relative;
}

.btn-svg::before {
    content: '';
    width: 40px;
    height: 60px;
    z-index: 1000;
    border: 5px solid #fff;
    border-radius: 5px;
    position: absolute;
    right: 20px;
}

.btn-svg::after {
    content: '';
    width: 40px;
    height: 5px;
    background-color: var(--white);
    top:47%;
    left:15%;
    position: absolute;
    z-index: 2000;
    border-radius: 5px;
}

.btn-svg span{
    content: '';
    width: 20px;
    height: 5px;
    background-color: var(--white);
    left:40%;
    position: absolute;
    z-index: 2001;
    border-radius: 5px;
}

.btn-svg span:nth-child(1){
    top:42%;
    transform: rotate(45deg);
}

.btn-svg span:nth-child(2){
    bottom:42%;
    transform: rotate(-45deg);
}
.btn-svg span:nth-child(3){
    width: 30px;
    bottom: 48%;
    left: 0;
    bottom: 35%;
    transform: rotate(-90deg);
}

form input {
    padding:0 5px;
}

form input:focus {
    outline: none;
}

.formulario a{
    color: var(--morado);
}

form label {
    font-size: 12px;
    border: none;
}

.formulario .menu{
    justify-content: center
}

.formulario .menu a{
    margin: 0 10px 0 0;
}

