@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

    <div class="container">
        <div class="slider">
            <div class="ctr bfr"></div>
            <div class="ctr nxt"></div>
            <img src="~/img/Slide1.png"
                alt="">
            <img src="~/img/Slide1.png"
                alt="">
            <img src="~/img/Slide1.png" alt="">
        </div>
    </div>
