@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

    <div class="container">
        <div class="slider">
            <div class="ctr bfr" id="bfr"></div>
            <div class="ctr nxt"id="nxt"></div>
            <img src="~/img/Slide1.png"
                alt="" class="slide">
            <img src="~/img/Slide2.jpg"
                alt="" class="slide">
            <img src="~/img/Slide3.jpg" alt="" class="slide">
        </div>
    </div>
